@import "tailwindcss";

Navlink {
  position: relative;
  color: white;
  text-decoration: none;
  padding-bottom: 4px;
}

NavLink.active{
    border-bottom: 2px solid white;
}

.active-link {
  border-bottom: 2px solid white;
}

.scrollbar-hide::-webkit-scrollbar{
    display: none;
}