@import "tailwindcss";

.leaflet-control-zoom {
  z-index: 0 !important;
  position: relative !important;
} 

Navlink {
  position: relative;
  color: white;
  text-decoration: none;
  padding-bottom: 4px;
}

NavLink.active{
    border-bottom: 2px solid white;
}